In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
np.__version__, pd.__version__, sns.__version__

('2.0.1', '2.3.3', '0.13.2')

In [77]:
df = pd.read_csv('kalimati1.csv')

In [78]:
df.head()

   SN            Commodity        Date Unit  Minimum  Maximum  Average
0   0   Tomato Big(Nepali)  2013-06-16   Kg     35.0     40.0     37.5
1   1  Tomato Small(Local)  2013-06-16   Kg     26.0     32.0     29.0
2   2           Potato Red  2013-06-16   Kg     20.0     21.0     20.5
3   3         Potato White  2013-06-16   Kg     15.0     16.0     15.5
4   4   Onion Dry (Indian)  2013-06-16   Kg     28.0     30.0     29.0

In [79]:
df.tail()

,SN,Commodity,Date,Unit,Minimum,Maximum,Average
197156,197156,Garlic Dry Nepali,2021-05-13,Kg,100.0,120.0,110.0
197157,197157,Fish Fresh(Rahu),2021-05-13,KG,270.0,280.0,275.0
197158,197158,Fish Fresh(Bachuwa),2021-05-13,KG,225.0,235.0,230.0
197159,197159,Fish Fresh(Chhadi),2021-05-13,KG,220.0,230.0,225.0
197160,197160,Fish Fresh(Mungari),2021-05-13,KG,240.0,250.0,245.0

In [80]:
df.set_index('Date')

                SN            Commodity Unit  Minimum  Maximum  Average
Date
2013-06-16       0   Tomato Big(Nepali)   Kg     35.0     40.0     37.5
2013-06-16       1  Tomato Small(Local)   Kg     26.0     32.0     29.0
2013-06-16       2           Potato Red   Kg     20.0     21.0     20.5
2013-06-16       3         Potato White   Kg     15.0     16.0     15.5
2013-06-16       4   Onion Dry (Indian)   Kg     28.0     30.0     29.0
...            ...                  ...  ...      ...      ...      ...
2021-05-13  197156    Garlic Dry Nepali   Kg    100.0    120.0    110.0
2021-05-13  197157     Fish Fresh(Rahu)   KG    270.0    280.0    275.0
2021-05-13  197158  Fish Fresh(Bachuwa)   KG    225.0    235.0    230.0
2021-05-13  197159   Fish Fresh(Chhadi)   KG    220.0    230.0    225.0
2021-05-13  197160  Fish Fresh(Mungari)   KG    240.0    250.0    245.0

[197161 rows x 6 columns]

In [81]:
df = df.drop(columns='SN')

In [82]:
df.set_index('Date')

                      Commodity Unit  Minimum  Maximum  Average
Date
2013-06-16   Tomato Big(Nepali)   Kg     35.0     40.0     37.5
2013-06-16  Tomato Small(Local)   Kg     26.0     32.0     29.0
2013-06-16           Potato Red   Kg     20.0     21.0     20.5
2013-06-16         Potato White   Kg     15.0     16.0     15.5
2013-06-16   Onion Dry (Indian)   Kg     28.0     30.0     29.0
...                         ...  ...      ...      ...      ...
2021-05-13    Garlic Dry Nepali   Kg    100.0    120.0    110.0
2021-05-13     Fish Fresh(Rahu)   KG    270.0    280.0    275.0
2021-05-13  Fish Fresh(Bachuwa)   KG    225.0    235.0    230.0
2021-05-13   Fish Fresh(Chhadi)   KG    220.0    230.0    225.0
2021-05-13  Fish Fresh(Mungari)   KG    240.0    250.0    245.0

[197161 rows x 5 columns]

In [83]:
df['Commodity'].unique()

array(['Tomato Big(Nepali)', 'Tomato Small(Local)', 'Potato Red',
       'Potato White', 'Onion Dry (Indian)', 'Carrot(Local)',
       'Cabbage(Local)', 'Cauli Local', 'Raddish Red',
       'Raddish White(Local)', 'Brinjal Long', 'Brinjal Round',
       'Cow pea(Long)', 'Green Peas', 'French Bean(Local)',
       'Soyabean Green', 'Bitter Gourd', 'Bottle Gourd',
       'Pointed Gourd(Local)', 'Snake Gourd', 'Smooth Gourd',
       'Sponge Gourd', 'Pumpkin', 'Squash(Long)', 'Turnip', 'Okara',
       'Christophine', 'Brd Leaf Mustard', 'Spinach Leaf', 'Cress Leaf',
       'Mustard Leaf', 'Fenugreek Leaf', 'Onion Green', 'Mushroom(Kanya)',
       'Asparagus', 'Neuro', 'Brocauli', 'Sugarbeet', 'Drumstick',
       'Red Cabbbage', 'Lettuce', 'Celery', 'Parseley', 'Fennel Leaf',
       'Mint', 'Turnip A', 'Tamarind', 'Bamboo Shoot', 'Tofu', 'Gundruk',
       'Apple(Jholey)', 'Banana', 'Lime', 'Pomegranate', 'Mango(Maldah)',
       'Grapes(Green)', 'Water Melon(Green)', 'Sweet Orange', 'Pineapple',
       'Cucumber(Local)', 'Jack Fruit', 'Papaya(Nepali)', 'Sugarcane',
       'Ginger', 'Chilli Dry', 'Chilli Green', 'Capsicum', 'Garlic Green',
       'Coriander Green', 'Garlic Dry Chinese', 'Garlic Dry Nepali',
       'Clive Dry', 'Clive Green', 'Fish Fresh', 'Arum', 'Maize',
       'Sweet Lime', 'Guava', 'Mombin', 'Barela', 'Lemon', 'Sword Bean',
       'Orange(Nepali)', 'Bakula', 'Yam', 'Sweet Potato', 'Mandarin',
       'Knolkhol', 'Cauli Terai', 'Kinnow', 'Strawberry',
       'Bauhania flower', 'Pear(Local)', 'Litchi(Local)', 'Musk Melon',
       'Tomato Small(Tunnel)', 'Potato Red(Indian)', 'Mushroom(Button)',
       'Apple(Fuji)', 'Cucumber(Hybrid)', 'Chilli Green(Bullet)',
       'Chilli Green(Machhe)', 'Chilli Green(Akbare)', 'Fish Fresh(Rahu)',
       'Fish Fresh(Bachuwa)', 'Fish Fresh(Chhadi)', 'Fish Fresh(Mungari)',
       'Raddish White(Hybrid)', 'Cowpea(Short)', 'French Bean(Hybrid)',
       'French Bean(Rajma)', 'Squash(Round)', 'Mango(Dushari)',
       'Water Melon(Dotted)', 'Papaya(Indian)', 'Litchi(Indian)',
       'Cabbage', 'Potato Red(Mude)', 'Tomato Big(Indian)',
       'Pear(Chinese)', 'Tomato Small(Indian)', 'Orange(Indian)',
       'Carrot(Terai)', 'Tomato Small(Terai)', 'Onion Dry (Chinese)',
       'Cabbage(Terai)', 'Cauli Local(Jyapu)', 'Pointed Gourd(Terai)',
       'Grapes(Black)', 'Kiwi', 'Mango(Calcutte)', 'Mango(Chousa)'],
      dtype=object)

In [84]:
import pandas as pd
import re

# your canonical vegetable list
canonical = [
    "tomato","potato","cucumber","pumpkin","bitter gourd","sponge gourd",
    "green bean","yard long bean","brinjal","lady finger","mustard green",
    "radish","carrot","coriander","cauliflower","cabbage","chili"
]

# regex mapping patterns
rules = [
    (r"\btomato\b",                                  "tomato"),
    (r"\bpotato\b",                                  "potato"),
    (r"\bcucumber\b",                                "cucumber"),
    (r"\bpumpkin\b|\bsquash\b",                      "pumpkin"),
    (r"\bbitter\s*gourd\b",                          "bitter gourd"),
    (r"\bsponge\s*gourd\b|\bsmooth\s*gourd\b",       "sponge gourd"),
    (r"\b(french\s*bean|green\s*bean|green\s*peas|rajma)\b", "green bean"),
    (r"\b(cow\s*pea.*long|yard\s*long\s*bean)\b",    "yard long bean"),
    (r"\bbrinjal\b|eggplant",                        "brinjal"),
    (r"\b(okra|okara|lady.?s?\s*finger)\b",          "lady finger"),
    (r"\b(mustard\s*(leaf|green)|broad\s*leaf\s*mustard)\b", "mustard green"),
    (r"\b(radish|raddish)\b",                        "radish"),
    (r"\bcarrot\b",                                  "carrot"),
    (r"\bcoriander\b|parsley",                       "coriander"),
    (r"\bcauli(\s*flower)?\b|\bcauli\s*(local|terai|jyapu)\b", "cauliflower"),
    (r"\bcabbage\b",                                 "cabbage"),
    (r"\bchill?i\b|\bchill?y\b",                     "chili"),
]

# helper: normalize commodity name
def normalize_name(s):
    s = str(s).lower()
    s = re.sub(r"[\(\)\[\]{}]", " ", s)
    s = re.sub(r"[^a-z\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

# map variant → canonical vegetable
def map_to_canonical(name):
    if not isinstance(name, str):
        return None
    n = normalize_name(name)
    for pat, canon in rules:
        if re.search(pat, n):
            return canon
    return None

# apply mapping
df["CanonicalCrop"] = df["Commodity"].apply(map_to_canonical)

# keep only the vegetables that matched your canonical list
df = df[df["CanonicalCrop"].isin(canonical)]

print("✅ Filtered shape:", df.shape)
print("✅ Unique mapped vegetables:", df["CanonicalCrop"].unique())

✅ Filtered shape: (69507, 7)
✅ Unique mapped vegetables: ['tomato' 'potato' 'carrot' 'cabbage' 'cauliflower' 'radish' 'brinjal'
 'yard long bean' 'green bean' 'bitter gourd' 'sponge gourd' 'pumpkin'
 'lady finger' 'mustard green' 'cucumber' 'chili' 'coriander']

In [89]:
df.CanonicalCrop.unique()

array(['tomato', 'potato', 'carrot', 'cabbage', 'cauliflower', 'radish',
       'brinjal', 'yard long bean', 'green bean', 'bitter gourd',
       'sponge gourd', 'pumpkin', 'lady finger', 'mustard green',
       'cucumber', 'chili', 'coriander'], dtype=object)

In [90]:
cond = [
    'tomato', 'potato', 'carrot', 'cabbage', 'cauliflower', 'radish',
    'brinjal', 'yard long bean', 'green bean', 'bitter gourd',
    'sponge gourd', 'pumpkin', 'lady finger', 'mustard green',
    'cucumber', 'chili', 'coriander'
]

veg_df = df[df["CanonicalCrop"].isin(cond)].copy()

print("✅ Filtered shape:", veg_df.shape)
print("✅ Unique crops:", veg_df["CanonicalCrop"].unique())

✅ Filtered shape: (69507, 7)
✅ Unique crops: ['tomato' 'potato' 'carrot' 'cabbage' 'cauliflower' 'radish' 'brinjal'
 'yard long bean' 'green bean' 'bitter gourd' 'sponge gourd' 'pumpkin'
 'lady finger' 'mustard green' 'cucumber' 'chili' 'coriander']

In [94]:
veg_df['Commodity'].unique()

array(['Tomato Big(Nepali)', 'Tomato Small(Local)', 'Potato Red',
       'Potato White', 'Carrot(Local)', 'Cabbage(Local)', 'Cauli Local',
       'Raddish Red', 'Raddish White(Local)', 'Brinjal Long',
       'Brinjal Round', 'Cow pea(Long)', 'Green Peas',
       'French Bean(Local)', 'Bitter Gourd', 'Smooth Gourd',
       'Sponge Gourd', 'Pumpkin', 'Squash(Long)', 'Okara', 'Mustard Leaf',
       'Cucumber(Local)', 'Chilli Dry', 'Chilli Green', 'Coriander Green',
       'Sweet Potato', 'Cauli Terai', 'Tomato Small(Tunnel)',
       'Potato Red(Indian)', 'Cucumber(Hybrid)', 'Chilli Green(Bullet)',
       'Chilli Green(Machhe)', 'Chilli Green(Akbare)',
       'Raddish White(Hybrid)', 'French Bean(Hybrid)',
       'French Bean(Rajma)', 'Squash(Round)', 'Cabbage',
       'Potato Red(Mude)', 'Tomato Big(Indian)', 'Tomato Small(Indian)',
       'Carrot(Terai)', 'Tomato Small(Terai)', 'Cabbage(Terai)',
       'Cauli Local(Jyapu)'], dtype=object)

In [108]:
import pandas as pd
import numpy as np
import requests, re, time

# --- Input data ---
data = {
    "District": ["Kathmandu","Lalitpur","Bhaktapur","Makawanpur","Dhading",
                 "Nuwakot","Rasuwa","Dolakha","Ramechhap","Kavrepalanchok","Sindhupalchok"],
    "lat": [27.7172,27.6700,27.6710,27.4140,27.9120,27.9510,28.2050,27.7600,27.3260,27.6240,27.9630],
    "lon": [85.3240,85.3240,85.4290,85.0320,84.9050,85.1750,85.4100,86.1750,86.0440,85.5430,85.7050],
}
df = pd.DataFrame(data)

# --- Helper functions ---
API_URL = "https://soil.narc.gov.np/api/soildata"

def to_num(x):
    """Extract numeric part from string (safe)."""
    if x is None: return np.nan
    s = str(x).replace(",", "")
    m = re.search(r"-?\d+(\.\d+)?", s)
    return float(m.group()) if m else np.nan

def get_soil(lat, lon, retries=2, delay=0.5):
    """Fetch soil data from NARC API for given lat/lon."""
    for _ in range(retries):
        try:
            r = requests.get(API_URL, params={"lat": lat, "lon": lon}, timeout=15)
            if r.status_code == 200:
                d = r.json()
                out = {
                    "Elevation_m": to_num(d.get("coord", {}).get("elevation")),
                    "Soil_pH": to_num(d.get("ph")),
                    "Organic_Matter_pct": to_num(d.get("organic_matter")),
                    "Soil_N_pct": to_num(d.get("total_nitrogen")),
                    "Soil_P2O5_kg_ha": to_num(d.get("p2o5")),
                    "Soil_K_kg_ha": to_num(d.get("potassium")),
                    "Boron_ppm": to_num(d.get("boron")),
                    "Zinc_ppm": to_num(d.get("zinc")),
                    "Sand_pct": to_num(d.get("sand")),
                    "Clay_pct": to_num(d.get("clay")),
                    "Silt_pct": to_num(d.get("slit")),   # API key uses 'slit'
                    "parentsoil": d.get("parentsoil"),
                    "district_api": d.get("district"),
                    "palika": d.get("palika"),
                }
                time.sleep(delay)
                return out
        except Exception:
            time.sleep(delay)
    return {key: np.nan for key in [
        "Elevation_m","Soil_pH","Organic_Matter_pct","Soil_N_pct","Soil_P2O5_kg_ha","Soil_K_kg_ha",
        "Boron_ppm","Zinc_ppm","Sand_pct","Clay_pct","Silt_pct","parentsoil","district_api","palika"
    ]}

# --- Call API for each district ---
soil_rows = []
for _, r in df.iterrows():
    print(f"Fetching {r['District']} ...")
    soil = get_soil(r["lat"], r["lon"])
    soil["District"] = r["District"]
    soil_rows.append(soil)

soil_df = pd.DataFrame(soil_rows)
soil_df.to_csv("soil_properties_by_district.csv", index=False)
soil_df

Fetching Kathmandu ...
Fetching Lalitpur ...
Fetching Bhaktapur ...
Fetching Makawanpur ...
Fetching Dhading ...
Fetching Nuwakot ...
Fetching Rasuwa ...
Fetching Dolakha ...
Fetching Ramechhap ...
Fetching Kavrepalanchok ...
Fetching Sindhupalchok ...

,Elevation_m,Soil_pH,Organic_Matter_pct,Soil_N_pct,Soil_P2O5_kg_ha,Soil_K_kg_ha,Boron_ppm,Zinc_ppm,Sand_pct,Clay_pct,Silt_pct,parentsoil,district_api,palika,District
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lalitpur
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhaktapur
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Makawanpur
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dhading
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nuwakot
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rasuwa
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dolakha
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ramechhap
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kavrepalanchok
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sindhupalchok

In [ ]:
import math, time, re, requests
import numpy as np
import pandas as pd

# ---------- INPUT: your seeds ----------
data = {
    "District": ["Kathmandu","Lalitpur","Bhaktapur","Makawanpur","Dhading",
                 "Nuwakot","Rasuwa","Dolakha","Ramechhap","Kavrepalanchok","Sindhupalchok"],
    "lat": [27.7172,27.6700,27.6710,27.4140,27.9120,27.9510,28.2050,27.7600,27.3260,27.6240,27.9630],
    "lon": [85.3240,85.3240,85.4290,85.0320,84.9050,85.1750,85.4100,86.1750,86.0440,85.5430,85.7050],
}
seeds = pd.DataFrame(data)

# ---------- CONFIG ----------
API_URL = "https://soil.narc.gov.np/api/soildata"
SLEEP = 0.25           # polite delay between API calls
N_VALID_PER_DIST = 6   # aim for this many valid farmland hits per district
MAX_ATTEMPTS = 300     # overall cap per district (safety)

# Concentric search radii (in meters) and bearings (degrees)
RINGS_M = [0, 50, 100, 200, 400, 800, 1500, 2500, 4000, 5000]
BEARINGS_DEG = [0, 45, 90, 135, 180, 225, 270, 315]

# ---------- helpers ----------
def to_num(x):
    if x is None: return np.nan
    s = str(x).replace(",", "")
    m = re.search(r"-?\d+(\.\d+)?", s)
    return float(m.group()) if m else np.nan

def meters_to_latlon_deltas(lat_deg, meters, bearing_deg):
    """
    Convert a move of 'meters' at 'bearing_deg' into dlat, dlon degrees at latitude lat_deg.
    Uses simple equirectangular approx: 1 deg lat ~ 111_000 m; 1 deg lon ~ 111_000 * cos(lat).
    """
    Rlat = 111_000.0
    Rlon = 111_000.0 * math.cos(math.radians(lat_deg))
    theta = math.radians(bearing_deg)
    dy = meters * math.cos(theta)  # northing
    dx = meters * math.sin(theta)  # easting
    dlat = dy / Rlat
    dlon = dx / Rlon if Rlon != 0 else 0.0
    return dlat, dlon

def fetch_soil(lat, lon, timeout=20):
    try:
        r = requests.get(API_URL, params={"lat": lat, "lon": lon}, timeout=timeout)
        r.raise_for_status()
        d = r.json()
        # consider valid if pH or OM present and numeric
        ph = to_num(d.get("ph"))
        om = to_num(d.get("organic_matter"))
        valid = not (np.isnan(ph) and np.isnan(om))
        out = {
            "lat": d.get("coord", {}).get("lat", lat),
            "lon": d.get("coord", {}).get("lon", lon),
            "Elevation_m": to_num(d.get("coord", {}).get("elevation")),
            "Soil_pH": ph,
            "Organic_Matter_pct": om,
            "Soil_N_pct": to_num(d.get("total_nitrogen")),
            "Soil_P2O5_kg_ha": to_num(d.get("p2o5")),
            "Soil_K_kg_ha": to_num(d.get("potassium")),
            "Boron_ppm": to_num(d.get("boron")),
            "Zinc_ppm": to_num(d.get("zinc")),
            "Sand_pct": to_num(d.get("sand")),
            "Clay_pct": to_num(d.get("clay")),
            "Silt_pct": to_num(d.get("slit")),  # API key uses 'slit'
            "district_api": d.get("district"),
            "palika": d.get("palika"),
            "valid_farmland": valid,
        }
        return out
    except Exception:
        return None

# ---------- main search ----------
rows = []
for _, r in seeds.iterrows():
    dist = r["District"]
    lat0, lon0 = float(r["lat"]), float(r["lon"])
    print(f"\n=== {dist}: scanning around ({lat0:.4f}, {lon0:.4f}) ===")
    valid = 0
    attempts = 0

    for rad_m in RINGS_M:
        for brg in BEARINGS_DEG:
            if valid >= N_VALID_PER_DIST or attempts >= MAX_ATTEMPTS:
                break
            dlat, dlon = meters_to_latlon_deltas(lat0, rad_m, brg)
            lat, lon = lat0 + dlat, lon0 + dlon

            rec = fetch_soil(lat, lon)
            attempts += 1
            time.sleep(SLEEP)

            if rec:
                rec["District"] = dist
                rec["seed_lat"] = lat0
                rec["seed_lon"] = lon0
                rec["probe_radius_m"] = rad_m
                rec["bearing_deg"] = brg
                rows.append(rec)
                if rec["valid_farmland"]:
                    valid += 1

        if valid >= N_VALID_PER_DIST or attempts >= MAX_ATTEMPTS:
            break

    print(f"  collected {valid} valid farmland hits (attempts: {attempts})")

per_point = pd.DataFrame(rows)
per_point.to_csv("soil_points_scanned.csv", index=False)
print("\nSaved per-point responses → soil_points_scanned.csv")

# keep only valid farmland hits for aggregation
valid_points = per_point[per_point["valid_farmland"] == True].copy()

# If some districts had zero hits, fall back to using any (even invalid) responses so you don't lose rows
fallback = (per_point
            .sort_values(["District","probe_radius_m"])  # prefer nearer probes
            .groupby("District", as_index=False)
            .head(3))  # take up to 3 nearest regardless of validity

have = set(valid_points["District"].unique())
need = [d for d in seeds["District"] if d not in have]
fallback_needed = fallback[fallback["District"].isin(need)]
valid_plus_fallback = pd.concat([valid_points, fallback_needed], ignore_index=True)

# aggregate to district medians
agg_cols = ["Elevation_m","Soil_pH","Organic_Matter_pct","Soil_N_pct",
            "Soil_P2O5_kg_ha","Soil_K_kg_ha","Boron_ppm","Zinc_ppm",
            "Sand_pct","Clay_pct","Silt_pct"]
soil_dist = (valid_plus_fallback
             .groupby("District", as_index=False)[agg_cols]
             .median())

soil_dist.to_csv("soil_district_averages.csv", index=False)
print("Saved district medians → soil_district_averages.csv")

soil_dist

=== Kathmandu: scanning around (27.7172, 85.3240) ===
  collected 0 valid farmland hits (attempts: 80)

=== Lalitpur: scanning around (27.6700, 85.3240) ===